@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.wrapper {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #00ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

